<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>As an experienced and highly skilled software engineer with an excellent professional background, Guillermo seeks to further develop his skills in a challenging position, being analytical and methodical with strong problem solving skills, quickly apprehension of new skills and tempered attitude with commercial realism. Always investing time and effort in the cutting edge of software development.</p>
    <p>Focusing on a UI perspective and building custom UI elements and controls for platforms allows Guillermo to decide on the right approach for a specific need.</p>
</div><!--//summary-->
</section><!--//section-->
