<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior iOS Software Engineer</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Mobica Ltd., Lodz</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Engineering and consultancy services, spanning the breadths of software design, engineering and testing.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">iOS Software Engineer</h3>
                            <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Rule Financial, Lodz</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Providing technical consulting and IT services to help investment banks, asset and wealth management and related financial institutions to excel.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Host Software Engineer</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Hewlett-Packard, Leon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Guillermo was a Host Engineer (Desktop Software Engineer). He was working in R&D department for Large Format Printers.</p>
                        <p>Having knowledge of the most common UI technologies used, and being focused on the latest innovations, allowed him to determine the best approach according with the designers and developers.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
