<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Guillermo has worked on several projects and open source libraries, these are the most recents.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/gelemias/RDGliderViewController">RDGliderViewController</a></span> -
                    <span class="project-tagline">A responsive control written in Objective-C for a draggable ViewController gliding over another ViewController.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://goo.gl/OPSLfp" target="_blank">Jumpy Chewie</a></span> -
                    <span class="project-tagline">Jumpy Chewie was a universal game for iOS (iPhone and iPad) written in Objective-C using SpriteKit,
                                                  consisted on jumping around with "Chewie" a chewing gum in the mouth of a monster, the complexity of the game consisted on avoiding the monster's teeth.
                                                With the time the complexity was increasing due increase of velocity and quantity of obstacles</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://goo.gl/wzUWVF" target="_blank">Urban Forms</a></span> -
                    <span class="project-tagline">UrbanForms is an application to complement the yearly urban art festival with the same name happened in the city of Lodz, Poland.
                                                  With the application the user is able to navigate into every mural painted in the city, get to known the author, the foundation and be up to date with the event.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://goo.gl/iv8aoc" target="_blank">MigawKarta</a></span> -
                    <span class="project-tagline">An application that allows tracking all public transportations of the city of Lodz, including management of local travel-card called "Migawka".
                                                  Including features such as expiration alerts, latest news and changes, live timetables and historical records of payments.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://iule.unileon.es" target="_blank">iUle</a></span> -
                    <span class="project-tagline">It was an iOS application for the University of León which connected with existing University platform allowing students and faculty to access all the crucial information (emails, contacts, information about lectures, slides from lectures, etc) using their iPhones and iPods.
                                                  It composed of dashboard, list view and account screens. It had to be held up to the rigorous external security testing.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://www.bizzability.com/" target="_blank">Blizzability</a></span> -
                    <span class="project-tagline">A framework for publishing applications dynamically called from a CMS.
                                                  It contained a personalities module, which loaded content according to the data received.
                                                  There were two ways developed - offline and online load of data.
                                                  Blizzability was a native application that communicated with a web application to manage the content by the user, allowing quick updates.</span>
                </div><!--//item-->
            </section><!--//section-->
